{{/* Initialise */}}

{{ $page := .root }}
{{ $section := .page }}

<h1>{{$section.Title}}</h1>

<div class="container">

<div class="row">
  
<div class="col-lg-9">


{{ $items_type := $section.Params.content.page_type | default "post" }}
{{ $items_offset := $section.Params.content.offset | default 0 }}
{{ $items_count := $section.Params.content.count }}
{{ if eq $items_count 0 }}
  {{ $items_count = 65535 }}
{{ else }}
  {{ $items_count = $items_count | default 5 }}
{{ end }}
{{ $items_sort := $section.Params.content.order | default "desc" }}

{{/* Query */}}
{{ $query := where site.RegularPages "Type" $items_type }}
{{ $archive_page := site.GetPage "Section" $items_type }}

{{/* Filters */}}
{{ if $section.Params.content.filters.tag }}
  {{ $archive_page = site.GetPage (printf "tags/%s" (urlize $section.Params.content.filters.tag)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $section.Params.content.filters.category }}
  {{ $archive_page = site.GetPage (printf "categories/%s" (urlize $section.Params.content.filters.category)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $section.Params.content.filters.publication_type }}
  {{ $archive_page = site.GetPage (printf "publication_types/%s" $section.Params.content.filters.publication_type) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $section.Params.content.filters.author }}
  {{ $archive_page = site.GetPage (printf "authors/%s" (urlize $section.Params.content.filters.author)) }}
  {{ $query = $query | intersect $archive_page.Pages }}
{{ end }}
{{ if $section.Params.content.filters.exclude_featured }}
  {{ $query = where $query "Params.featured" "!=" true }}
{{ end }}
{{ if $section.Params.content.filters.exclude_past }}
  {{ $query = where $query "Date" ">=" now }}
{{ end }}
{{ if $section.Params.content.filters.exclude_future }}
  {{ $query = where $query "Date" "<" now }}
{{ end }}

{{ $count := len $query }}

{{/* Sort */}}
{{ $sort_by := "Date" }}
{{ $query = sort $query $sort_by $items_sort }}

{{/* Offset and Limit */}}
{{ if gt $items_offset 0 }}
  {{ $query = first $items_count (after $items_offset $query) }}
{{ else }}
  {{ $query = first $items_count $query }}
{{ end }}

{{/* Localisation */}}
{{ $i18n := "" }}
{{ if eq $items_type "post" }}
  {{ $i18n = "more_posts" }}
{{ else if eq $items_type "event" }}
  {{ $i18n = "more_talks" }}
{{ else if eq $items_type "publication" }}
  {{ $i18n = "more_publications" }}
{{ else }}
  {{ $i18n = "more_pages" }}
{{ end }}

{{ $columns := $section.Params.design.columns | default "2" }}

<div class="col-12 {{if eq $columns "2"}}col-lg-8{{end}}">

  {{ with $section.Content }}{{ . }}{{ end }}

  {{ range $post := $query }}
    {{ if eq $section.Params.design.view 1 }}
      {{ partial "li_list" . }}
    {{ else if eq $section.Params.design.view 3 }}
      {{ partial "li_card" . }}
    {{ else if eq $section.Params.design.view 4 | and (eq $items_type "publication") }}
      {{ partial "li_citation" . }}
    {{ else }}
      {{ partial "li_compact" . }}
    {{ end }}
  {{end}}

  {{/* Archive link */}}
  {{ $show_archive_link := $section.Params.content.archive.enable | default (gt $count $items_count) }}
  {{ if $show_archive_link }}

    {{ $archive_link := "" }}
    {{ if $section.Params.content.archive.link }}
      {{ $archive_link = $section.Params.content.archive.link | relLangURL }}
    {{ else }}
      {{ $archive_link = $archive_page.RelPermalink }}
    {{ end }}

    {{ $archive_text := $section.Params.content.archive.text | default (i18n $i18n) | default "See all" }}

    <div class="see-all">
      <a href="{{ $archive_link }}">
        {{ $archive_text | emojify }}
        <i class="fas fa-angle-right"></i>
      </a>
    </div>
  {{ end }}

  </div>
  </div>
  
<div class="col-lg-3">
<a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" href="https://twitter.com/DHCSSza?ref_src=twsrc%5Etfw">Tweets by DHCSSza</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
  </div>
  </div>
  <div>
